@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Lato:wght@300&display=swap");

$dark-text: #F4FAFF;
$light-text: #000B14;

/* 🖋 Fonts */
$font-text: "Lato", sans-serif;
$font-title: "Kanit", sans-serif;
