$color-text-dark: #F4FAFF;
$color-text-light: #000B14;
$font-family-text: 'Lato', sans-serif;
$font-family-title: 'Kanit', sans-serif;

/*Icons*/
$icons: (
  icon-edit: 'https://firebasestorage.googleapis.com/v0/b/todovue-blog.appspot.com/o/icons%2Fedit.svg?alt=media&token=088cf30d-9945-46f8-bf27-650287dba73a',
  icon-remove: 'https://firebasestorage.googleapis.com/v0/b/todovue-blog.appspot.com/o/icons%2Fremove.svg?alt=media&token=d1b5c767-0a7b-4aad-bc0e-140fbf55a6c2'
);
