@use "global";
@use "variables";

.dark-mode {
  .tv-label {
    color: variables.$dark-text;
  }

  & img.tv-label-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(360deg);
  }
}

.light-mode {
  .tv-label {
    color: variables.$light-text;
  }

  & img.tv-label-icon {
      filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg);
  }
}

.tv-label {
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  min-width: 50px;
  padding: 4px 8px;
  text-align: center;
  text-transform: uppercase;

  & img.tv-label-icon {
    height: 10px;
    width: 10px;
  }
}
