:root {
    /*Dark Theme*/
    --color-background-body-dark: #7A7D7D;
    --color-text-button-dark: #AFDEDC;
    --color-background-button-dark: #f11c36;
    --color-background-button-dark-darken: #f1142f;
    --color-text-dark: #F4FAFF;
    --color-background-card-dark: #0E131F;

    /*Light Theme*/
    --color-background-body-light: #E0E1E1;
    --color-text-button-light: #F1F9F9;
    --color-background-button-light: #EF233C;
    --color-background-button-light-darken: #f1142f;
    --color-text-light: #000B14;
    --color-background-card-light: #B9C4DF;

    /*Global*/
    --color-background-button-success: #00600F;
    --color-background-button-success-darken: #00450b;
}
